.outer-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.second-body {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 3px;
}
.button {
  padding: 50px;
  font-size: 30px;
  width: 150px;
  height: 130px;
}
.leader-board {
  margin-top: -440px;
  margin-left: 30px;
  text-align: start;
  width: 200px;
  border-bottom: 3px solid black;
}
h1 {
  border-bottom: 3px solid black;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
